<style>

  header, footer { width: 100%; display: flex; } .header-col, .footer-col {
  flex: 1; } footer { left: 0; position: fixed; margin-bottom: 10px; width:
  100%; bottom: 0px; background-color: black; color: white; } .footer-col {
  display: flex; justify-content: center; align-items: center; }
</style>
<footer>
  <div class='footer-col'>
    <p>sales@mimicproducts.in</p>
  </div>
  <div class='footer-col'>
    <p>+91-9029668938 / +91-8850128485</p>
  </div>
  <div class='footer-col background-color:white'>
    <p>mimicproducts.in</p>
  </div>
</footer>